# MongoDB Connection String (Atlas or Local)
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/dembeni?retryWrites=true&w=majority

# Port for the Node.js Server
PORT=5000

# JSON Web Token Secret
JWT_SECRET=votre_super_secret_jwt_key_pour_la_production_qui_doit_etre_longue

# Node Environment (development or production)
NODE_ENV=production

# Email Settings (for Nodemailer)
EMAIL_HOST=smtp.votreservier.com
EMAIL_PORT=465
EMAIL_USER=noreply@dembeni.fr
EMAIL_PASS=votre_mot_de_passe_email
